body {
    background-color: #312f2d;
    color: rgb(225, 225, 225);
    font-family: "Inter", sans-serif;
}

h1 {
    
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    text-align: center;
}

.interface {
    width: 85%;
    max-width: 500px;  /* Limit the width */
    max-height: 281px; /* (500px * 9 / 16) = 281px */
    background-color: rgb(225, 225, 225);
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 30px;
    box-shadow: 0 0 15px rgba(225, 225, 225, 0.9);
    color: #312f2d;

    justify-content: center;
    align-items: center;
    display: flex;

    /* Dynamically set height based on width with aspect ratio 16:9 */
    height: calc(100% * 9 / 16);
    
    /* Limit the height */
}


#frontside {
    font-size: min(20vw, 120px);
    font-weight: 700;
}

#backside {
    font-size: min(4vw, 30px);
    font-weight: 700;
}


.action-row {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
    background-color: #3d3b39;
    padding: 12px 24px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.action-row button {
    background-color: #e1e1e1;
    color: #312f2d;
    border: none;
    padding: 10px 16px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.action-row button:hover {
    background-color: #cfcfcf;
}

#voc-wrong span {
    color: #a91106;
    font-size: 16pt;
}

#voc-correct span {
    color: #008A00;
    font-size: 16pt;
}
